# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
spotify_feedback.db
*.sqlite3

# Local environment variables
.env
.env.local
.env.production

# Virtual Environments
.venv/
venv/
ENV/

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
